<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
  <title>LinkedIn Poster</title>
</head>
<body>
  <div id="root">
    <div id="search">
      <input type="text" id="topic" placeholder="Topic">
      <button id="generate">Generate Post</button>
    </div>
    <div id="post">
      <img id="profile-pic" src="" alt="">
      <p id="profile-name">Luiz Felipe dos Santos</p>
      <p id="profile-role">Software Engineer</p>
      <p id="generated-post"></p>
    </div>
  </div>

  <script src="../main.js"></script>
</body>
</html>
